<section class="single-ad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="owl-carousel" id="ad_slider" data-slider-id="1">
                    {% for image in ad_details.images_gallery %}
                        <img class="pointer" src="{{ fn('wp_get_attachment_url',image) }}" alt="{{ image }}">
                    {% endfor %}
                </div>
                <div class="owl-thumbs" data-slider-id="1">
                </div>
                <hr class="mtb_1">
                <div class="mobile_view">
                    <div class="_price" style="direction:ltr"><span class="text-red ms-2 font-bold" style="font-size:1.5rem">{{ ad_details.ad_price }}</span><span class="text-white width-40 height-40 d-inline-flex align-items-center justify-content-center ps-2" style="background: url({{theme.link}}/assets/img/bg.svg) no-repeat center;background-size: contain;font-size:1.5rem">
                     SR </span></div>
                    <div> <a class="add_to_wish added g_br_btn ml_1 p-0 width-40 height-40 rounded-circle d-inline-flex align-items-center justify-content-center" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#B7BCCA"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg></a>
                        {% if contact_number %}
                        <a class="g_br_btn ml_1 p-0 width-40 height-40 rounded-circle d-inline-flex align-items-center justify-content-center" href="tel:{{ contact_number }}"> <img class="width-20" src="{{theme.link}}/assets/img/phonel.svg" alt="pic"></a>
                    {% endif %}
                    </div>
                </div>
                <div class="row details">
                    <div class="col-6 col-md-4 col-lg-3">
                        <p> <strong class="me-2"> المدينة :</strong>{{ ad_details.ad_city }}</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <p> <strong class="me-2"> النوع :</strong>{{ ad_details.equipment_type }}</p>
                    </div>
                    {% if ad_details.equipment_storage %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <p> <strong class="me-2"> المساحة التخزينية :</strong>{{ ad_details.equipment_storage }}</p>
                    </div>
                    {% endif %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <p> <strong class="me-2"> طريقه الدفع :</strong>{{ ad_details.equipment_payment_type }}</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <p> <strong class="me-2"> السعر :</strong> {{ ad_details.equipment_price }} ريال سعودي </p>
                    </div>
                </div>
                <hr class="mtb_1">
                {%  if car_addons %}
                <h3 class="font-bold">الاضافات :</h3>
                <div class="row details">
                    {% for addon in ad_details.car_addons %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <p>{{ addon }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <h3 class="font-bold">وصف الإعلان :</h3>
                <p>{{ ad_details.ad_description}} </p>
                <div class="bg-light br p_1 d-flex justify-content-between align-items-center">
                    <p class="mt-0 mb-0"> <strong>اعلان رقم : </strong>{{ post.id }}</p>
                    <div class="share_btn r_br_btn"><img class="me-2 width-20 vm" src="{{theme.link}}/assets/img/share.svg" alt="pic">شارك الاعلان</div>
                    {{ fn('do_shortcode','[DISPLAY_ULTIMATE_SOCIAL_ICONS]') }}
                </div>
                <div class="bg-light br pt_1 plr_2 mt_3 pb_2">
                    <h2>اعلانات مشابهة</h2>
                    <div class="owl-carousel mt_1 w-90 m-auto" id="related_Ads">
                        {%  set related_posts = post.id|get_related_ads %}
                        {%  for related_post in related_posts %}
                            <div class="item bg-white br p_1 mt_2">
                                <div class="_img height-140 overflow-hidden br d-flex justify-content-center align-items-center"><img class="height-140 w-auto" src="{{ related_post.ID|get_ad_thumb }}" alt="pic"></div>
                                <a href="{{ related_post.link }}">
                                    <h3 class="text-red font-bold mb-0">{{ related_post.title}} </h3></a>
                                <p class="text-blue mt-0 mb-0">{{ related_post.ad_price }}</p>
                               </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'views/single-ads/sidebar.twig' %}
        </div>
    </div>
</section>
