<div class="ad-type-car">
    <div class="post_thumbnail" style="text-align: center">
    <img style="height: 250px;width: auto" src="{{ post.thumbnail }}" alt="">
    </div>
    <form class="m-width-780 m-auto" method="POST" action="{{ function('get_permalink', function('get_page_by_path', 'ad-edited-thank-you')) }}/?post_id={{ post.ID }}" enctype="multipart/form-data">
        <div style="display: none" class="sec_tit">
            <h2>اختر القسم</h2>
        </div>
        <div style="display: none" class="plr_2 bg-light br ptb_1 mt_3 mw-80 m-auto">
            <input class="d-none bg-transparent p-0 w-auto h-auto" id="cat1" value="">
            <input class="d-none bg-transparent p-0 w-auto h-auto" id="cat2" value="">

        </div>
        <button style="display: none" class="chooseDepart ms-2 bg-transparent p-0 border-0 text-primary" type="button" data-bs-toggle="modal" data-bs-target="#departmentModel">اختر القسم                            </button><a class="changeDepart ms-2" href="#"> </a>
        <hr class="mtb_3">

        <div class="all-ad-info {% if ad_category_slug %} {% else %}d-none {% endif %}" id="cat-{{ 'cars'|get_category_id }}">
            <div class="sec_tit"> <span>1</span>
                <h2>تفاصيل الاعلان</h2>
            </div>
            <div class="row mt_3">
                <div class="col-md-6">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#model">{{post.car_type}}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select name="car-type" id="model">
                            <option value="هيونداي" {% if 'هيونداي' == post.car_type %} selected {% endif %}>هيونداي</option>
                            <option value="تويوتا" {% if 'تويوتا' == post.car_type %} selected {% endif %}>تويوتا</option>
                            <option value="فورد" {% if 'فورد' == post.car_type %} selected {% endif %}>فورد</option>
                            <option value="شيفروليه" {% if 'شيفروليه' == post.car_type %} selected {% endif %}>شيفروليه</option>
                            <option value="نيسان" {% if 'نيسان' == post.car_type %} selected {% endif %}>نيسان</option>
                            <option value="أخرى" {% if 'أخرى' == post.car_type %} selected {% endif %}>أخرى</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                         <input type="text" name="car-model" value="{{ post.car_sub_model }}" class="w-100 mtb_1" placeholder="اختر الفئة">
                </div>
                <div class="col-md-6">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#year">{{post.car_year}}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select name="car-year" id="year">
                            <option value="2021" {% if '2021' == post.car_year %} selected {% endif %}>2021</option>
                            <option value="2020" {% if '2020' == post.car_year %} selected {% endif %}>2020</option>
                            <option value="2019" {% if '2019' == post.car_year %} selected {% endif %}>2019</option>
                            <option value="2018" {% if '2018' == post.car_year %} selected {% endif %}>2018</option>
                            <option value="2017" {% if '2017' == post.car_year %} selected {% endif %}>2017</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <h3 class="ml_1 font-bold">الحاله :</h3>
                    <div class="radioBtn ml_1">
                        <input type="radio" name="car-status" value="new" {% if 'جديد' == post.car_status %} checked {% endif %}>
                        <label>جديد</label>
                    </div>
                    <div class="radioBtn">
                        <input type="radio" name="car-status" value="used" {% if 'مستعمل' == post.car_status %} checked {% endif %}>
                        <label>مستعمل</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#km">{{ post.car_kilometers }}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select id="km" name="car-kilometers" required>
                            <option value="" selected disabled> الكيلو مترات </option>
                            <option value="اقل من 50000" {% if 'اقل من 50000' == post.car_kilometers %} selected {% endif %}>اقل من 50000</option>
                            <option value="اقل من 100000" {% if 'اقل من 100000' == post.car_kilometers %} selected {% endif %}>اقل من 100000</option>
                            <option value="اقل من 150000" {% if 'اقل من 150000' == post.car_kilometers %} selected {% endif %}>اقل من 150000</option>
                            <option value="اقل من 200000" {% if 'اقل من 200000' == post.car_kilometers %} selected {% endif %}>اقل من 200000</option>
                            <option value="اكثر من 200000" {% if 'اكثر من 200000' == post.car_kilometers %} selected {% endif %}>اكثر من 200000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <h3 class="ml_1 font-bold">نوع ناقل الحركه :</h3>
                    <div class="radioBtn ml_1">
                        <input type="radio" name="car-gear" value="auto" {% if 'auto' == post.car_gear_type %} checked {% endif %}>
                        <label>اوتوماتك</label>
                    </div>
                    <div class="radioBtn">
                        <input type="radio" name="car-gear" value="manual" {% if 'manual' == post.car_gear_type %} checked {% endif %}>
                        <label>يدوي</label>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <h3 class="ml_1 font-bold">نوع الوقود </h3>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-petrol-type" value="بنزين" {% if 'بنزين' == post.car_petrol_type %} checked {% endif %}>
                            <label>بنزين</label>
                        </div>
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-petrol-type" value="ديزل" {% if 'ديزل' == post.car_petrol_type %} checked {% endif %}>
                            <label>ديزل</label>
                        </div>
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-petrol-type" value="هايبرد" {% if 'هايبرد' == post.car_petrol_type %} checked {% endif %}>
                            <label>هايبرد</label>
                        </div>
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-petrol-type" value="كهربائي" {% if 'كهربائي' == post.car_petrol_type %} checked {% endif %}>
                            <label>كهربائي</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <h3 class="ml_1 font-bold">الاضافات </h3>
                    <select name="car-addons[]" class="multi-select" multiple>
                        <option value="قفل مركزي للأبواب" {% if 'قفل مركزي للأبواب' in post.car_extra_addons %} selected {% endif %}>قفل مركزي للابواب</option>
                        <option value="فتحة سقف" {% if 'فتحة سقف' in post.car_extra_addons %} selected {% endif %}>فتحه سقف</option>
                        <option value="وسائل أمان مختلفة" {% if 'وسائل أمان مختلفة' in post.car_extra_addons %} selected {% endif %}>وسائل امان مختلفة</option>
                    </select>
                </div>
                <div class="col-sm-12 mb-2">
                    <h3 class="ml_1 font-bold">طريقه الدفع</h3>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-payment" value="كاش"  {% if 'كاش' == post.car_payment %} checked {% endif %}>
                            <label>كاش</label>
                        </div>
                        <div class="radioBtn ml_1 mb-2">
                            <input type="radio" name="car-payment" value="تحويل بنكي"  {% if 'تحويل بنكي' == post.car_payment %} checked {% endif %}>
                            <label>تحويل بنكي</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <input name="ad-title" class="w-100 mtb_1" type="text" value="{{ post.title }}" placeholder="اسم الاعلان مثال : (نيسان جوك 2017)">
                </div>
                <div class="col-sm-12">
                    <textarea class="w-100 mtb_1" name="ad-description" type="text" placeholder="وصــف الاعــلان">{{ post.ad_description }}</textarea>
                </div>
                <div class="col-md-6 position-relative">
                    <input name="ad-price" class="w-100 mtb_1" type="number" placeholder="السعر المطلوب" style="direction: inherit;" required value="{{ post.ad_price }}">
                    <label class="currancy" for="">ريال سعودي</label>
                </div>
                <div class="col-md-6 position-relative">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#city">{{ post.ad_city }}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select id="city" name="ad-city">
                            <option value="" selected disabled>اختر المدينة او الحي</option>
                            {% for city in ad_cities_options %}
                                <option value="{{ city.city }}"  {% if city.city == post.ad_city %} selected {% endif %}>{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mtb_3">
            <div class="sec_tit"> <span>2</span>
                <h2>اضف الصور</h2>
            </div>
            <div class="row mt_3 align-items-center">
                <div class="cpl-sm-12 col-md-6 col-lg-5">
                    <div class="border br p_3 text-center"> <img class="w-40" src="{{ theme.link }}/assets/img/camera.svg" alt="pic">
                        <div class="file mt_2">
                            <input name="images-gallery[]" type="file" multiple>
                            <label class="red_btn">اضف صورة رئيسية</label>
                            <h3 class="font-bold text-success numberOfImages d-none"> </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <p class="font-bold">اضافة صورة لاعلانك تعني مشاهدات اكثر</p>
                    <p>اضف صور حقيقيه للمنتج</p>
                    <p class="text-red">يمكنك رفع حتي 20 صورة</p>
                </div>
            </div>
            <hr class="mtb_3">
            <div class="sec_tit"> <span>3</span>
                <h2>معلومات الاتصال</h2>
            </div>
            <div class="mt_3">
                <h3 class="d-inline">الاسم :</h3>
                <p class="d-inline font-bold">{{ user_name }}</p>
            </div>
            <div>
                <h3 class="d-inline"> رقم التليفون :</h3>
                <p class="d-inline font-bold">{{ user_phone }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center mt_3 flex-wrap">
                <button class="red_btn" id="submit" name="submit" type="submit">نشــر الاعـــلان</button>
                <p>بنشر اعلانك انت موافق علي
                    <button class="bg-transparent p-0 border-0 text-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">الشروط و الاحكام </button>
                </p>
            </div>
        </div>
    </form>
</div>