<div class="ad-type-car">
    <div class="post_thumbnail" style="text-align: center">
        <img style="height: 250px;width: auto" src="{{ post.thumbnail }}" alt="">
    </div>
    <form class="m-width-780 m-auto" method="POST" action="{{ function('get_permalink', function('get_page_by_path', 'ad-edited-thank-you')) }}/?post_id={{ post.ID }}  " enctype="multipart/form-data">
        <div style="display: none" class="sec_tit">
            <h2>اختر القسم</h2>
        </div>
        <div style="display: none" class="plr_2 bg-light br ptb_1 mt_3 mw-80 m-auto">
            <input class="d-none bg-transparent p-0 w-auto h-auto" id="cat1" value="">
            <input class="d-none bg-transparent p-0 w-auto h-auto" id="cat2" value="">

        </div>
        <button style="display: none" class="chooseDepart ms-2 bg-transparent p-0 border-0 text-primary" type="button" data-bs-toggle="modal" data-bs-target="#departmentModel">اختر القسم                            </button><a class="changeDepart ms-2" href="#"> </a>
        <div class="all-ad-info {% if ad_category_slug %} {% else %}d-none {% endif %}" id="cat-{{ 'mobile'|get_category_id }}">
            <div class="sec_tit"> <span>1</span>
                <h2>تفاصيل الاعلان</h2>
            </div>
            <div class="row mt_3">
                <div class="col-md-6">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#model">{{ post.mobile_brand }}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select name="mobile-type" id="model">
                            <option value="أبل" {% if 'أبل' == post.mobile_brand %} selected {% endif %}>أبل</option>
                            <option value="سامسونج"  {% if 'سامسونج' == post.mobile_brand %} selected {% endif %}>سامسونج</option>
                            <option value="هواوي"  {% if 'هواوي' == post.mobile_brand %} selected {% endif %}>هواوي</option>
                            <option value="هونور"  {% if 'هونور' == post.mobile_brand %} selected {% endif %}>هونور</option>
                            <option value="سوني"  {% if 'سوني' == post.mobile_brand %} selected {% endif %}>سوني</option>
                            <option value="آخر"  {% if 'آخر' == post.mobile_brand %} selected {% endif %}>آخر</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <input name="mobile-model" class="w-100 mtb_1" type="text" placeholder="اكتب الموديل" value="{{ post.mobile_model }}">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <h3 class="ml_1 font-bold">الحاله :</h3>
                    <div class="radioBtn ml_1">
                        <input type="radio" name="mobile-status" value="new" {% if 'new' == post.mobile_status %} checked {% endif %}>
                        <label>جديد</label>
                    </div>
                    <div class="radioBtn">
                        <input type="radio" name="mobile-status" value="used" {% if 'used' == post.mobile_status %} checked {% endif %}>
                        <label>مستعمل</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#km">{{ post.mobile_storage }}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select id="km" name="mobile-storage" required>
                            <option value="" selected disabled> سعة تخزين الجهاز </option>
                            <option value="16GB" {% if '16GB' == post.mobile_storage %} selected {% endif %}>16GB</option>
                            <option value="32GB" {% if '32GB' == post.mobile_storage %} selected {% endif %}>32GB</option>
                            <option value="128GB" {% if '128GB' == post.mobile_storage %} selected {% endif %}>128GB</option>
                            <option value="256GB" {% if '256GB' == post.mobile_storage %} selected {% endif %}>256GB</option>
                            <option value="512GB" {% if '512GB' == post.mobile_storage %} selected {% endif %}>512GB</option>
                            <option value="أخرى" {% if 'أخرى' == post.mobile_storage %} selected {% endif %}>أخرى</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input name="mobile-color" class="w-100 mtb_1" type="text" placeholder="اللون" value="{{ post.mobile_color }}">
                </div>
                <div class="col-sm-12">
                    <input name="ad-title" class="w-100 mtb_1" type="text" placeholder="اسم الاعلان مثال : (موبايل سامسونج A70 بحالة جيدة للبيع)" value="{{ post.title }}">
                </div>
                <div class="col-sm-12">
                    <textarea class="w-100 mtb_1" name="ad-description" type="text" placeholder="وصــف الاعــلان">{{ post.ad_description }}</textarea>
                </div>
                <div class="col-md-6 position-relative">
                    <input name="ad-price" class="w-100 mtb_1" type="number" placeholder="السعر المطلوب" style="direction: inherit;" required value="{{ post.ad_price }}">
                    <label class="currancy" for="">ريال سعودي</label>
                </div>
                <div class="col-md-6 position-relative">
                    <div class="select_style ml_4 bg-light d-flex align-items-center justify-content-between border mtb_1">
                        <label class="text-tc" for="#city">{{ post.ad_city }}</label><img class="mr_1" src="{{ theme.link }}/assets/img/arrow-dwn-dark.svg" alt="icon">
                        <select id="city" name="ad-city">
                            <option value="" selected disabled>اختر المدينة او الحي</option>
                            {% for city in ad_cities_options %}
                                <option value="{{ city.city }}"  {% if city.city == post.ad_city %} selected {% endif %}>{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mtb_3">
            <div class="sec_tit"> <span>2</span>
                <h2>اضف الصور</h2>
            </div>
            <div class="row mt_3 align-items-center">
                <div class="cpl-sm-12 col-md-6 col-lg-5">
                    <div class="border br p_3 text-center"> <img class="w-40" src="{{ theme.link }}/assets/img/camera.svg" alt="pic">
                        <div class="file mt_2">
                            <input name="images-gallery[]" type="file" multiple>
                            <label class="red_btn">اضف صورة رئيسية</label>
                            <h3 class="font-bold text-success numberOfImages d-none"> </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <p class="font-bold">اضافة صورة لاعلانك تعني مشاهدات اكثر</p>
                    <p>اضف صور حقيقيه للمنتج</p>
                    <p class="text-red">يمكنك رفع حتي 20 صورة</p>
                </div>
            </div>
            <hr class="mtb_3">
            <div class="sec_tit"> <span>3</span>
                <h2>معلومات الاتصال</h2>
            </div>
            <div class="mt_3">
                <h3 class="d-inline">الاسم :</h3>
                <p class="d-inline font-bold">{{ user_name }}</p>
            </div>
            <div>
                <h3 class="d-inline"> رقم التليفون :</h3>
                <p class="d-inline font-bold">{{ user_phone }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center mt_3 flex-wrap">
                <button class="red_btn" id="submit" name="submit" type="submit">نشــر الاعـــلان</button>
                <p>بنشر اعلانك انت موافق علي
                    <button class="bg-transparent p-0 border-0 text-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">الشروط و الاحكام </button>
                </p>
            </div>
        </div>
    </form>
</div>