<footer class="site_footer bg-red ptb_4">
    <div class="container">
        <div class="row border-bottom pb-4">
            <div class="col-sm-10">
                <div class="d-flex align-items-center">    <a class="w_br_btn ml-4" href="{{ fn('get_permalink',fn('get_page_by_path','contact-us')) }}">تواصل معنا</a><a class="ms-3" href="#"><img class="width-20" src="{{ theme.link }}/assets/img/google.svg" alt="Gmail"></a><a class="ms-3" href="#"><img class="width-20" src="{{ theme.link }}/assets/img/twit.svg" alt="twitter"></a><a class="ms-3" href="#"><img class="width-20" src="{{ theme.link }}/assets/img/insta.svg" alt="instagram"></a><a class="ms-3" href="#"><img class="width-20" src="{{ theme.link }}/assets/img/yout.svg" alt="youtube"></a><a class="ms-3" href="#"><img class="width-20" src="{{ theme.link }}/assets/img/fb.svg" alt="facebook"></a></div>
            </div>
            <div class="col-sm-2 text-end"> <img src="{{ theme.link }}/assets/img/footer-logo.svg" alt="pic"></div>
        </div>
        <div class="row align-items-center copy-rights">
            <div class="col-sm-9">
{#                <a class="text-white" href="#">Terms of service / </a><a class="text-white" href="#">Privacy Policy</a>#}
            </div>
            <div class="col-sm-3">
                <p class="mb-0 text-white text-end"> كافة الحقوق محفوظة لـ Direct Up</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>