{% extends "base.twig" %}

{% block content %}

	<main class="site_main">
		<div class="top_bar text-center ptb_2">
			<h1 class="mt-0 mb-0">{{ post.post_title }}</h1><nav aria-label="breadcrumb">
			</nav>
		</div>
		<section class="single-ad">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="owl-carousel" id="ad_slider" data-slider-id="1">
							{% for image in ad_details.images_gallery %}
								<img class="pointer" src="{{ fn('wp_get_attachment_url',image) }}" alt="{{ image }}">
							{% endfor %}
						</div>
						<div class="owl-thumbs" data-slider-id="1">
						</div>
						<hr class="mtb_1">
						<div class="mobile_view">
							<div class="_price" style="direction:ltr"></div>
							<div>
								<a class="g_br_btn ml_1 p-0 width-40 height-40 rounded-circle d-inline-flex align-items-center justify-content-center" href="tel:{{ post.contact_number }}"> <img class="width-20" src="{{theme.link}}/assets/img/phonel.svg" alt="pic"></a></div>
						</div>
						<h3 class="font-bold">خدمات الشركة :</h3>
						<p>{{ post.services_description}} </p>
						<div class="bg-light br p_1 d-flex justify-content-between align-items-center">
							<div class="share_btn r_br_btn"><img class="me-2 width-20 vm" src="{{theme.link}}/assets/img/share.svg" alt="pic">شارك </div>
							{{ fn('do_shortcode','[DISPLAY_ULTIMATE_SOCIAL_ICONS]') }}
						</div>

					</div>
					<aside class="col-lg-4">
						<div class="bg-light br pt_1 plr_2 pb_2">
							<div class="d-flex justify-content-between align-items-center flex-wrap d-mobile-none">

							</div>
							<div class="d-flex align-items-center mt_2"> <img class="rounded-circle width-60 height-60" src="{{theme.link}}/assets/img/profile.png" alt="pic">
								<div class="personal_info mr_1">
									<p class="mt-0 mb-0">{{ post.company_name }}</p>
								</div>
							</div>
							<div class="d-flex align-items-center mt_2 justify-content-between">
								<a class="whit_btn flex-fill text-center me-2" href="tel:{{ post.contact_number }}">اتصل الان </a>
{#								<a class="red_btn flex-fill text-center ms-2" href="#">ابدأ الدردشه</a>#}
							</div>
							<hr class="mtb_2">
						</div>
					</aside>
				</div>
			</div>
		</section>
	</main>


{% endblock %}
